.game-header-container {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    height: 10vw;
    
}

h2, h1{
    padding: 0;
    margin: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: white;
    flex-direction: column;

}

.scores {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
    font-size: 1.3rem;
    flex: 1;
}

.title {
    box-shadow: 1px 2px 10px rgb(185, 185, 185);
    color: white;
    border: solid;
    border-radius: 1rem;
    padding: .25rem .5rem;
}

h2{
    margin-top: 1rem;
    font-weight: 500;
}

h3{
    margin-top: 1rem;
    font-weight: 500;
    font-size:2rem;
}

.flex {
    flex: 4;
}

