.game-header-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 2rem;
    color: white;
    background-color: black;
    height: 5vw;
}