<div class="game-header-container">
    <div class="scores">
        <h1 class ="title">Don't Roll Seven</h1>
        <div class="center">
            <h2>Current Score: </h2>
            <h1>{{currentScore$ | async}}</h1>
        </div>
         <div class="center">
        <h2>Previous Score: </h2>
        <h1>{{previousScore$ | async}}</h1>
        </div>

         <div class="center">
        <h2>Previous Odds:</h2>
        <h1>{{previousOdds$ | async}}%</h1>

        </div>
         <div class="center">
        <h2 style="color:gold;">High Score:</h2>
        <h1 style="color:gold;">{{highScore$ | async}} ({{highestScoreOdds$ | async}})%</h1>

        </div>
    </div>

</div>