.game-board-container {
    background-color: lightcyan;
    height: calc(90vw * 9 / 20);
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 0rem;
}